@page "/user/dashboard"

<div class="flex flex-col gap-10 xl:w-[80%] xl:mx-auto">
    <div class="mt-10 rounded-xl overflow-hidden text-white relative">

        <div class="absolute inset-0 z-0 bg-cover bg-no-repeat bg-center"
             style="background-image: url('icons/container.svg');">
        </div>

        <div class="relative z-10 p-10 flex flex-col gap-5">
            <h1 class="text-[24px] font-semibold">Magandang Umaga, Maria!</h1>
            <p class="max-w-xl text-white/90">
                Access all government services in one place. No more long queues,
                no more multiple trips to different cities.
            </p>
            <div class="flex flex-wrap gap-5 mt-2">
                <button
                    class="bg-[#276FC2] hover:bg-[#1f5da3] transition-colors rounded-xl p-2.5 flex gap-2 items-center text-sm">
                    <img src="icons/add.svg" alt="" class="h-5">
                    Request a Document
                </button>
                <button
                    class="bg-[#D89843] hover:bg-[#bd8339] transition-colors rounded-xl p-2.5 flex gap-2 items-center text-sm">
                    <img src="icons/search.svg" alt="" class="h-5">
                    Track a Request
                </button>
            </div>
        </div>
    </div>

    <div class="w-full flex gap-10">
        <NavLink href="user/requests" class="bg-[#D9D7E3] rounded-xl p-3 pb-7 w-full">
            <div class="flex justify-between">
                <p class="text-[14px]">Total Request</p>
                <img src="icons/total-requests.svg" alt="" class="w-8 h-8">
            </div>
            <h2 class="font-semibold text-[24px] mt-1">24</h2>
        </NavLink>

        <div class="bg-[#D9D7E3] rounded-xl p-3 pb-7 w-full">
            <div class="flex justify-between">
                <p class="text-[14px]">In Progress</p>
                <img src="icons/for-pickup.svg" alt="" class="w-8 h-8">
            </div>
            <h2 class="font-semibold text-[24px] mt-1">3</h2>
        </div>
        <div class="bg-[#D9D7E3] rounded-xl p-3 pb-7 w-full">
            <div class="flex justify-between">
                <p class="text-[14px]">Ready for Pickup</p>
                <img src="icons/in-progress.svg" alt="" class="w-8 h-8">
            </div>
            <h2 class="font-semibold text-[24px] mt-1">9</h2>
        </div>
    </div>

    <div>
        <h3 class="text-[32px] font-semibold">Quick Services</h3>
        <div class="mt-5">
            <div class="flex gap-10">
                <div class="bg-[#E8E6F4] rounded-xl p-3 pb-7 w-full">
                    <img src="icons/birth-certificate.svg" alt="" class="w-8">
                    <h2 class="font-medium text-[24px]">Birth Certificate</h2>
                    <p class="text-gray-400">PSA</p>
                </div>
                <div class="bg-[#E8E6F4] rounded-xl p-3 pb-7 w-full">
                    <img src="icons/national-id.svg" alt="" class="w-10">
                    <h2 class="font-medium text-[24px]">National ID</h2>
                    <p class="text-gray-400">PhilSys</p>
                </div>
                <div class="bg-[#E8E6F4] rounded-xl p-3 pb-7 w-full">
                    <img src="icons/drivers-license.svg" alt="">
                    <h2 class="font-medium text-[24px]">Driver's License</h2>
                    <p class="text-gray-400">LGU</p>
                </div>
            </div>
            <div class="flex gap-10 mt-5">
                <div class="bg-[#E8E6F4] rounded-xl p-3 pb-7 w-full">
                    <img src="icons/business-permit.svg" alt="" class="w-8">
                    <h2 class="font-medium text-[24px]">Business Permit</h2>
                    <p class="text-gray-400">PSA</p>
                </div>
                <div class="bg-[#E8E6F4] rounded-xl p-3 pb-7 w-full">
                    <img src="icons/national-id.svg" alt="" class="w-10">
                    <h2 class="font-medium text-[24px]">National ID</h2>
                    <p class="text-gray-400">PhilSys</p>
                </div>
                <div class="bg-[#E8E6F4] rounded-xl p-3 pb-7 w-full">
                    <img src="icons/drivers-license.svg" alt="">
                    <h2 class="font-medium text-[24px]">Driver's License</h2>
                    <p class="text-gray-400">LGU</p>
                </div>
            </div>
        </div>

    </div>
</div>



